body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.layout {
  text-align: center;
  width:100%;
  height: 100vh;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 20px;
}

header {grid-area: header;}
main { 
  grid-area: main;
  display: flex;
  justify-content: center;
}

.users-container{
  max-width: 1300px;
  min-width: 700px;

}
.users-container > article{
  margin: 0 10px;
  height: 35px;
  cursor: pointer;
  width: 100%;
}
.users-container > article:hover{
  background: #fff;
  color: #000;
}



footer { grid-area: footer; }
